* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}



/* common style */

header,
main {
    max-width: 1320px;
    margin: 50px auto;
    cursor: pointer;
}


/* header section */

header {
    height: 600px;
    background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0)100%), url(images/Banner.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
    border-radius: 16px;

}

header .hero h1 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

header .hero h2 {
    /* Happy New Year */
    color: rgb(255, 255, 255);
    text-align: center;

}

header .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* main */

/* discount section*/

.discount {
    max-width: 800px;
    margin: auto;

}

.discount-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.dc-tittle {
    padding: 48px;
}

.dc-tittle h1 {
    font-family: "Inter", sans-serif;
    ;
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    padding-bottom: 25px;

}

.dc-tittle p {
    font-family: "Inter", sans-serif;
    ;
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.dc-tittle h3 {
    font-family: "Inter", sans-serif;
    ;
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
    padding: 20px 0px;
}

.dc-img {
    max-width: 100%;
    max-height: 500px;
}

.dc-img img {
    width: 100%;
    height: 100%;
}


/* midnight section*/

.midnight {

    width: 100%;
    height: 600px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(images/Vectorrr.png) no-repeat center;
    background-size: cover;
    color: rgb(255, 255, 255);
    border-radius: 16px;
}

.midnight-container {

    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mn-tittle h2 {

    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    padding-bottom: 20px;
}

.mn-tittle p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.mn-tittle span {
    display: inline-block;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 20px;
    text-transform: uppercase;

}

.mn-img {
    max-width: 550px;
    max-height: 465px;


}

.mn-img img {
    width: 100%;
    height: 100%;

}

/* info section*/

.info {
    width: 100%;
    height: 482px;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    color: rgb(7, 2, 17);
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    position: relative;
}

.info span {

    color: rgb(255, 0, 0);

}

.info button {
    display: inline-block;
    width: 190px;
    height: 60px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 16px 32px;
    margin: 20px 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    border: none;
    cursor: pointer;

}

.info-container {

    width: 80%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;

}




/* anounce section*/

.anounce {
    
    width: 100%;
    height: 450px;
    font-family: 'Inter';
}

.anounce-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.anounce-container .div1 {
    text-align: left;
    padding: 12px 10px 30px;

}

.anounce-container h3 {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: rgb(7, 2, 17);
    padding: 10px 0px;

}

.anounce-container .div3 h3 {

    color: rgb(255, 0, 0);
}

.anounce-container .div1 h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgb(255, 0, 0);

}

.anounce-container p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}


.anounce-container .div2 {
    margin:0px 103px 6px -7px;
}

